<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FESENSI</title>
	<link rel="icon" type="image/x-icon" href="/images/fav-icon/logo.png"> 
	<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-zinc-900">
	<div class="text-center">
		<img src="/images/fav-icon/logo.png" alt="Project Logo" class="w-32 mx-auto">
		<h1 class="text-white text-3xl mt-4">FESENSI</h1>
		<p class="text-gray-500 text-xl mt-2">AI DRIVEN TECH SUPPORT</p>
		<small class=" text-white text-3xl mt-4">Bckend server is running</small>
	</div>
</body>
</html>